.header {
    background-color: #123d34;
    height: 65px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.header img {
    margin: 14px 200px;
    width: 100px;
    height: 30px;
}
.nav ul {
    display: flex;
    list-style: none; 
  margin: 0;
  padding: 0;
  margin: 20px 245px;
}
.nav li {
    margin-left: 40px;
}
.activeLink {
    border-bottom: 2px solid #0eb493; 
  }
  .nav a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  .nav a:hover {
    color: #0eb493;
  }
  
  .activeLink {
    color: #0eb493;
    border-bottom: 2px solid #0eb493;
  }
  .nav {
    display: flex;
  }
  
  .burgerButton {
    display: none;
  }
  .nav {
    display: flex;
  }
  
  /* Скрываем кнопку burgerButton на экранах больше 768px */
  .burgerButton {
    display: none;
  }
  
  /* Стили для кнопки бургера */
  .burgerButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .burgerLine {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  /* @media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 55px;
  }

  .header img {
    width: 120px;
    height: 25px;
    margin-left: 60px;
    margin-top: 9px;
  }

  .nav ul {
    margin: 13px 100px 0 0;
  }
  .nav li {
    margin-left: 20px;
  }

  .nav a {
    font-size: 20px;
  }
  .nav {
    display: flex;
  }
  
  .burgerButton {
    display: none;
  }
} */
@media (max-width: 768px) {

  .burgerButton {
    display: block; 
  }

  .nav {
    display: none; 
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navOpen {
    display: block; 
  }
  .nav ul {
    display: flex;
    flex-direction: column; 
  }
.header {
  height: 50px;
}
.header img {
  width: 90px;
  height: 20px;
  margin-left: 40px;
  margin-top: 9px;
}
}

  